* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: transparent;
  color: inherit;
}

.theme {
  min-height: 100vh;
  background-color: #111;
  color: #bbb;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.theme.light {
  background-color: #fff;
  color: #111;
}

.theme.light a {
  color: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1366px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
